.scroll {
    overflow: auto;
    max-height: 70vh !important;
    min-width: 70vw !important;
}

.table {
    display: flex;
}

.info {
    white-space: pre-line;
    padding: 5px;
    font-size: 2em;
    margin-bottom: 10px;
}

.pre {
    font-family: monospace, monospace;
    flex: 1;
}

.table-mid {
    text-align: center;
}

.table-end {
    text-align: right;
}
