.env {
    cursor: pointer;
    font-family: monospace;
}

.fullwidth {
    min-width: 100%;
}

.scroll {
    overflow: auto;
    max-height: 70vh !important;
}

.info {
    white-space: pre-line;
    margin-bottom: 2em;
    border: 1px dashed #ccc;
    padding: 5px;
}
